<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quoteapp/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Main page</h1>
        {% for quote in quotes %}
        <div class="quote">
            <blockquote>
                <em>"{{ quote.quote }}"</em>
            </blockquote>
            <p style="font-size: 1.2em;">- {{ quote.author }} <a href="{% url 'quoteapp:author_profile' quote.author %}" class="custom-button">Перейти до профілю автора</a> </p>
            <p style="font-size: 1.2em;">Tags: {{quote.tags}}</p>
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class="buttons">
        <a href="{% url 'quoteapp:quote' %}" class="custom-button">Додати нову цитату</a>
        <a href="{% url 'quoteapp:author' %}" class="custom-button">Додати нового автора</a>
    </div>
    {% endif %}
    <div class="buttons">
        <a href="{% url 'users:login' %}" class="custom-button">Увійти</a>
        <a href="{% url 'users:logout' %}" class="custom-button">Вийти</a>
        <a href="{% url 'users:signup' %}" class="custom-button">Зареєструватися</a>
        <a href="{% url 'users:profile' %}" class="custom-button">Profile</a>
    </div>
</body>
</html>
